---
const pageTitle="关于tayori";
const tayori ={
  isui:"倚水",
  raku:"raku",
  ta:"tazuneru",
  bf:"https://tayori.bitfan.id/",
  rt:"raku和tazuneru",
  uta:["「風のたより」","「星になる」","「春を待つ」","「白日夢」","「花がら」","「ビビッド」","「鯨の背中」","「雪解け」","「夢遊」","「深夜特急」","「メメント」","「月の唄」"]
};
const links = ["/sounds/t1.ogg", "/sounds/t2.ogg", "/sounds/t3.ogg", "/sounds/t4.ogg", "/sounds/t5.ogg", "/sounds/t6.ogg", "/sounds/t7.ogg", "/sounds/t8.ogg", "s/sounds/t9.ogg", "/sounds/t10.ogg", "/sounds/t11.ogg", "/sounds/yue.ogg"];
const islet =["「春を待つ」（Islet feat.倚水）","「白日夢」 （Islet feat.倚水）","「星になる」（Islet feat.倚水）"]
---
<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type ="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content = {Astro.generator} >
    <title>{pageTitle}</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
        background-color: #88ebd7;
      }
      a {
        text-decoration: none;
        color: #345246;
        padding: 10px;
        background-color: #fff;
        border-radius: 5px;
      }
      a:hover {
        background-color: #46e8cd;
      }
      h1 {
        color: #333;
        font-size: 3rem;
        margin-bottom: 10px;
      }
      ul {
        list-style-type: none;
        padding-left: 10px;
      }
      .skill {
        background-color: #46e8cd;
        padding: 10px;
        margin: 5px 0;
        border-radius: 5px;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <a href="/">首页</a>
    <a href="/about/">关于</a>
    <h1>{pageTitle}</h1>
    <p>以下是{pageTitle}的部分情况</p>
    <ul>
      <li>乐队的主唱是{tayori.isui}。</li>
      <li>乐队的作曲作词一般由{tayori.rt}负责</li>
      {islet.length >=2 &&
      <li>乐队成立前制作的歌曲有:{islet}</li>}
    </ul>
    <p>成立乐队后发布的memento专辑内歌曲有：</p>
    <ul>
      {tayori.uta.map((song,index) => <li class="skill">{song}:<a href={links[index]} target="_blank">前往查看</a></li>)}
    </ul>
    <h2>www</h2>
  </body>
</html>