---
import '../styles/about.css'
const pageTitle="关于tayori";
const tayori ={
  isui:"倚水",
  raku:"raku",
  ta:"tazuneru",
  bf:"https://tayori.bitfan.id/",
  rt:"raku和tazuneru",
  uta:["「風のたより」","「星になる」","「春を待つ」","「白日夢」","「花がら」","「ビビッド」","「鯨の背中」","「雪解け」","「夢遊」","「深夜特急」","「メメント」","「月の唄」"]
};
const links = ["https://github.com/lingqiu1700/isui/raw/refs/heads/master/src/pages/sounds/t1.ogg", "https://github.com/lingqiu1700/isui/raw/refs/heads/master/src/pages/sounds/t2.ogg", "https://github.com/lingqiu1700/isui/raw/refs/heads/master/src/pages/sounds/t3.ogg", "https://github.com/lingqiu1700/isui/raw/refs/heads/master/src/pages/sounds/t4.ogg", "https://github.com/lingqiu1700/isui/raw/refs/heads/master/src/pages/sounds/t5.ogg", "https://github.com/lingqiu1700/isui/raw/refs/heads/master/src/pages/sounds/t6.ogg", "https://github.com/lingqiu1700/isui/raw/refs/heads/master/src/pages/sounds/t7.ogg", "https://github.com/lingqiu1700/isui/raw/refs/heads/master/src/pages/sounds/t8.ogg", "https://github.com/lingqiu1700/isui/raw/refs/heads/master/src/pages/sounds/t9.ogg", "https://github.com/lingqiu1700/isui/raw/refs/heads/master/src/pages/sounds/t10.ogg", "https://github.com/lingqiu1700/isui/raw/refs/heads/master/src/pages/sounds/t11.ogg", "https://github.com/lingqiu1700/isui/raw/refs/heads/master/src/pages/sounds/yue.ogg"];
const islet =["「春を待つ」（Islet feat.倚水）","「白日夢」 （Islet feat.倚水）","「星になる」（Islet feat.倚水）"]
---
<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type ="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content = {Astro.generator} >
    <title>{pageTitle}</title>
    <style>
      
    </style>
  </head>
  <body>
    <div class="zhong">
    <a href="/">首页</a>
    <a href="/about/">关于</a>
    </div><div class="biaoti">
    <h1>{pageTitle}</h1></div>
    <p>以下是{pageTitle}的部分情况</p>
    <ul>
      <li>乐队的主唱是{tayori.isui}。</li>
      <li>乐队的作曲作词一般由{tayori.rt}负责</li>
      {islet.length >=2 &&
      <li>乐队成立前制作的歌曲有:{islet}</li>}
    </ul>
    <p>成立乐队后发布的memento专辑内歌曲有：</p>
    <ul>
      {tayori.uta.map((song,index) => <li class="skill">{song}:<a href={links[index]} target="_blank">前往查看</a></li>)}
    </ul>
    <div class="zhong">
    <h2>www</h2>
    </div>
  </body>
</html>